.container3 {
	margin-top:60px;
	height: 240px;
	width: 100%;
	background-image: url(/Mainfolder/my-app/public/public/img/Layer37.jpg); 
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-around;
}
[class*="case_"] {
	height: 200px;
	color:#90d8d8;
}
.container3 p {
	font-size: 12pt;
} 
.case_3 {
	width: 250px;
}
.naming_2 {
    width: 340px;
    margin-top: 35px;
    color: #c4ced1;
    font-size: 65px;
}