[class*="block_2_"] {
	position: relative;
	width: 1030px;
	height: 220px;
	display: flex;
	justify-content: flex-start;
}
.various1 {
	width: 620px;
    margin-left: 20px;
}
.right_col {
	margin-left: 40px;
}
.lines2 {
	background-color: #dde1f4;
    width: 415px;
    height: 2px;
    margin-top: 10px;
    position: relative;
    right: 15px;
}
.right_text {
	margin-top:5px;
}
.block_2_3 {
	width: 400px;
	height: 320px;
	top:-45px;
	right:-25px;
}
.block_2_3 img {
	width: 400px;
	height: 320px;
}
.image_sec {
	position: absolute;
	left:150px;
	top:130px;
}
.readimg {
	border:solid 1px #ffffff;
	outline: none;
	background-color: inherit;
}
.read_t {
	padding:15px;
	color: #ffffff;
}
.read_t:hover {
	color:black;
	background-color:#ccb0b070;
	cursor: pointer;
}
.date {
	position: absolute;
	top: 285px;
    left: 20px;
    color: #070564;
}
.likes {
	position: relative;
	top: 240px;
    right: 70px;
    display: flex;
    justify-content: flex-start;
}
.like {
	width: 20px;
	height: 20px;
	background-color:inherit;
	opacity: 0.8;
}
.count_l {
	color: #070564;
}
.readm {
	position: relative;
	top:10px;
}
.readme_b {
	background-color: yellow;
	outline: none;
	border:none;
	padding: 10px;
	cursor: pointer;
}
.readme_b:hover {
	background-color: #a8aeae;
	color: black;
	border:1px solid black;
}
.button_text {
	font-style: italic;
}
.block_2_2 {
	margin-top:55px;
}
.block_2_1 {
	margin-top:55px;
}